<section id="kontakt" class="section" aria-labelledby="kontakt-title">
  <div class="container">
    <h2 id="kontakt-title">Terminbuchen / Kontakt</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac tellus in urna gravida feugiat.</p>
    <p>Donec vulputate, massa in aliquet luctus, justo erat laoreet nibh, sed fermentum arcu erat nec massa. Mauris consequat dolor ut lacus lacinia, eget maximus eros efficitur.</p>
    <p>Proin iaculis nunc eu nibh consequat, sit amet gravida est aliquet. Sed tempor porttitor mauris, quis efficitur lorem maximus vitae.</p>
    <address class="contact">
      <p>E-Mail: <a href="mailto:kontakt@gesundheitspraxis-serempus.ch">kontakt@gesundheitspraxis-serempus.ch</a></p>
      <p>Telefon: <a href="tel:+41">+41</a></p>
    </address>
    <p>
      <a class="button" href="mailto:kontakt@gesundheitspraxis-serempus.ch">Jetzt Termin anfragen</a>
    </p>
  </div>
  <div class="section-divider" role="separator" aria-hidden="true"></div>
</section>


