<section id="kontakt" class="section section-end" aria-labelledby="kontakt-title">
  <div class="container">
    <h2 id="kontakt-title">Kontakt</h2>
    <h3 class="subsection-title"><strong>Terminvereinbarung</strong></h3>
    <p>Termine können Sie via Mail oder Telefon vereinbaren</p>
    <address class="contact">
      <p>E-Mail: <a href="mailto:gesundheitspraxis@serempus.ch">gesundheitspraxis@serempus.ch</a></p>
      <p>Telefon: <a href="tel:+41792211315">079 221 13 15</a></p>
    </address>
    <p>
      <br>
      <a class="button" href="mailto:gesundheitspraxis@serempus.ch">Jetzt Termin anfragen</a>
    </p>
  </div>
</section>
