<section id="kontakt" class="section" aria-labelledby="kontakt-title">
  <div class="container">
    <h2 id="kontakt-title">Terminbuchen / Kontakt</h2>
    <p>Buchen Sie Ihren Termin oder kontaktieren Sie mich direkt.</p>
    <address class="contact">
      <p>E-Mail: <a href="mailto:kontakt@gesundheitspraxis-serempus.ch">kontakt@gesundheitspraxis-serempus.ch</a></p>
      <p>Telefon: <a href="tel:+41">+41</a></p>
    </address>
    <p>
      <a class="button" href="mailto:kontakt@gesundheitspraxis-serempus.ch">Jetzt Termin anfragen</a>
    </p>
  </div>
</section>


